.cart-item {
	margin-bottom: 20px;
	width: 32%;
}
.car-link {
	position: absolute;
	bottom: 50px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

@media( max-width: 992px ) {
	.cart-item {
		width: calc(50% - 10px);
	}

}

@media( max-width: 768px ) {
	.cart-item {
		width: 100%;
	}

}